# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.next/
dist/

# Tailwind CSS
.tailwind*

# OS
.DS_Store

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
*.swp
*.swo

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Others
*.tgz

# Docker volumes and build artifacts
infra/clickhouse_data/
infra/mongo_data/
infra/otel-collector-config.yaml/
services/*/node_modules/
services/*/dist/
services/*/coverage/
worker/node_modules/
worker/dist/
worker/coverage/

# Ignore test data
data/test-data/

# Environment variables
/services/worker/.env
